*.pdf
*.xz

!bayesian.pdf
!bayesian_pred.pdf
!brier.pdf
!brier1.pdf
!brier_agged_synth.pdf
!brier_poisson1_toy.pdf
!brier_poisson_toy.pdf
!brier_skill_toy.pdf
!fit_bin.pdf
!fit_h_bin.pdf
!grid_over_outline.pdf
!hitrate1.pdf
!hitrate2.pdf
!hitrate_detail1.pdf
!info_dirp_toy.pdf
!info_dir_toy.pdf
!kde.pdf
!kde1.pdf
!kde_toy.pdf
!likehood_toy.pdf
!likelihood.pdf
!model_example_points.pdf
!model_intensity.pdf
!multi_brier.pdf
!multi_brier_cpd.pdf
!multi_brier_dense.pdf
!northside_bayes.pdf
!northside_brier.pdf
!northside_events.pdf
!northside_hitrate.pdf
!northside_kde.pdf
!northside_likelihood.pdf
!northside_preds.pdf
!northside_ranking.pdf
!po_brier.pdf
!ranking1.pdf
!ranking2.pdf

